
<div style = "padding: 30px; width: 80%; margin-left:auto; margin-right:auto;">
    <div class="btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" onClick= 'input("/")'  class="btn btn-outline-primary"  style = "height: 70px;"> \(  \frac{▢ }{ ▢}  \) </button>
        <button type="button" onClick= 'input("\^"); input("2")'  class="btn btn-outline-primary"  style = "height: 70px;"> \( x^{2} \)</button>
        <button type="button" onClick= 'input("\^")'  class="btn btn-outline-primary"  style = "height: 70px;"> \( x^{▢} \)</button>
        <button type="button" onClick= 'input("\\sqrt")'  class="btn btn-outline-primary"  style = "height: 70px;"> \( \sqrt{▢} \)</button>
        <button type="button" onClick= 'input("\\nthroot")'  class="btn btn-outline-primary"  style = "height: 70px;"> \( \sqrt[▢]{▢} \)</button>
        <button type="button" onClick= 'input("\\sin"); input("(")'  class="btn btn-outline-primary"  style = "height: 70px;"> \( \sin{(▢)} \)</button>
        <button type="button" onClick= 'input("\\cos"); input("(")'  class="btn btn-outline-primary"  style = "height: 70px;"> \( \cos{(▢)} \)</button>
        <button type="button" onClick= 'input("\\tan"); input("(")'  class="btn btn-outline-primary"  style = "height: 70px;"> \( \tan{(▢)} \)</button>
        <button type="button" onClick= 'input("\\pi")' class="btn btn-outline-primary" style = "height: 70px;"> \( \pi \) </button> 
        <button type="button" onClick= 'input("e"); '  class="btn btn-outline-primary"  style = "height: 70px;"> \( e \)</button>  
    </div>
</div>