
{%extends "base.html"%}
{%load static%}
{%block header%}
<link rel="shortcut icon" type = "image/png" href="{% static 'favicon.ico' %}">
<title> ESFMlab </title>
{%endblock%}

{%block content%}

<img src="https://i.ibb.co/x6Ly6mT/encon.png" style = "display: block; padding-top:100px;
                                                                                    margin-left: auto;
                                                                                    margin-right: auto;
                                                                                    width: 60%;" alt="">
{%endblock%}